// Specific CSS for your home-page
.home-body {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-size: cover;
  position: relative;
  background: url('homebackground.png');
  background-repeat: no-repeat;
  opacity: 0.8;
  h1 {
    color: white;
    font-weight: bold;
    font-size: 45px;
  }
  h3 {
    color: white;
    opacity: .8;
    font-weight: bold;
    font-size: 30px;
  }
  p {
    color: white;
    opacity: .8;
    font-size: 25px;
    font-weight: lighter;
    margin-bottom: 20px;
  }
  .btn-home {
  background-color: #db1575e0;
  font-size: 20px;
  width: 200px;
  height: 100px;
  border-radius: 3px;
  padding: 14px 40px;
  color: rgb(230, 230, 230);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition-duration: 0.4s;
  }

  .btn-home:hover {
    color: rgb(255, 10, 10);
    text-decoration: none;
    background-color: #a0195aaf;
  }
}
