.container {
  margin: auto;
  background-color: rgba(20, 20, 20, 1);
}

.journeys-body {
  background: url(https://wallpapers.party/media/2018/06/colourful-pink-1.jpg);
  position: relative;
  background-repeat: none;
  background-size: 100%;
  height: 100vh;
}

.layer {
  background-color: rgba(30, 30, 30, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.journeys-header-card {
  background-color: rgba(40, 40, 40, 1);
  border-radius: 6px;
  box-shadow: inset 0 0 10px #252625;
  box-shadow: inset 0 0 10px #252625;
  box-shadow: inset 0 0 10px #252625;
}

.card {
  display: flex;
  justify-items: center;
  margin: auto;
  background-color: rgba(30, 30, 30, 1);
  color: rgba(255, 255, 255, 0.4);
  margin: 15px;
}

h3 {
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 5px;
  padding: 10px;
  color: white;
  padding-top: 15px;
}

.ibtn {
  background-color: #ad1d63;
  width: 100px;
  border-radius: 3px;
  padding: 5px 10px;
  color: rgba(30, 30, 30, 1);
}

.ibtn:hover {
  background-color: none;
  border-color: #ad1d63;

}
