.container {
  margin: auto;

}

.journeys-body {
  position: relative;
  background-repeat: none;
  background-size: 100%;
  min-height: calc(100vh - 69px);
}

.layer {
  background-color: rgba(30, 30, 30, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
}


.card {
  display: flex;
  justify-items: center;
  margin: auto;
  background-color: rgba(30, 30, 30, 1);
  color: rgba(255, 255, 255, 0.4);
  margin: 15px;
  border-radius: 10px;
  position: relative;
}

a:hover {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
}

h5 {
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 5px;
  padding-top: 10px;
  color:  rgba(250, 250, 250, 0.7);
  padding-left: 40px;
  padding-bottom: 10px;
  border-radius: 10px;
  background-color: rgba(27, 27, 27, 1);
  width: 150px;
  position: relative;
  top: 17px;
  left: 200px;
  box-shadow: inset 0 -7px 9px -7px rgba(0,0,0,0.8);
 }

h4 {
  margin-bottom: 5px;
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  color:  rgba(250, 250, 250, 0.7);
  border-radius: 5px;
  background-color: rgba(27, 27, 27, 1);
  width: 100%;
  box-shadow: inset 0 -7px 9px -7px rgba(0,0,0,0.8);
 }

.ibtn {
  margin: auto;
  background-color: #ad1d63;
  width: 100px;
  border-radius: 3px;
  text-align:center;
  color: rgba(30, 30, 30, 1);
}

.img {
  border-radius: 10px;

}

.card:hover {
  border-color: #ad1d63;
}

.test {
  opacity: 0.6;
}