.main-button {
  border-color: rgba(255, 255, 255, 0.0);
  border-radius: 10px 10px 0px 0px;
  display: flex;
  width: 260px;
  height: 60px;
  padding-top: 14px;
  color: rgba(120, 120, 120, 1);
  font-size: 19px;
  border-style: solid;
  background-color: rgba(173, 29, 99, 0.84);
  color: rgb(230, 230, 230);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.round {
  border-radius: 10px 10px 10px 10px;
}

.row-main {
  display: flex;
  justify-content: center;
  margin: auto;
}

.position {
  position: relative;
  top: 150px;

}

.main-icons {
  text-align: center;
  height: 35px;
  width: 35px;
  display: inline;
  background-color: #ad1d63;
  border-radius: 50%;
  margin: 15px;
  padding-top: 5px;
  color: rgba(30, 30, 30, 1);
  border-color: #850346;
  border-style: solid;
  border-width: 1px;
  box-shadow: inset 0 0 10px #820839;
  box-shadow: inset 0 0 10px #820839;
  box-shadow: inset 0 0 10px #820839;

}

.icon-background {
  margin: auto;
  background-color: rgba(30, 30, 30, 0.7);
  height: 20px;
  border-radius: 10px 10px 10px 10px;
  width: 260px;
  border-style: solid;
  border-color: #1E1E1E;
  border-width: 2px;
  border-opacity: 0.7;
  border-bottom-radius: 5px;
  padding-top: 35px;
  padding-bottom: 40px;
 display: flex;
 align-items: center;
 justify-content: center;
}

.inline {
  display: inline;
}

.dropdown-menu {
background-color: rgba(30, 30, 30, 0.95);
}

i {
  display:flex;
  content-align: center;
}


a {
  text-align: center;
}

h1 {
  text-align:center;
  position: relative;
  top: 90px;
  color: rgb(255, 255, 255);
}


.container.main-background{
  background-image: url(mainbackground.png);
  height: 100vh;
  background-repeat: no-repeat;
}
