.show-background {
  background-color: rgba(20, 20, 20, 0.9);
}

.card-boarders {
  padding: 0px;
  margin: 0px;
  height: 100%;
  position: relative;
}

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  flex-wrap: wrap;
}
.row > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

.photo {
  max-width:100%;
  max-height:100%;
  // object-fit: cover;
  border-radius: 10px;
}

.modal-content {
  background-color: rgba(30, 30, 30, 1);
  border-radius: 5px;
  opacity: 0.9;

}

.modal-header {
  background-color: rgba(30, 30, 30, 1);
  border-radius: 5px;
  border-bottom-color: rgba(30, 30, 30, 0.98);
}

.modal-body {
  background-color: rgba(30, 30, 30, 1);
  border-radius: 5px;
  max-width: 100%;
  // height: 70vh;
}

.item-close {
  padding-right: 10px;
  padding-top: 10px;
  text-align: right;
  color: white;
}

.options.text-right {
  padding: 10px;
  width: 60px;
  height: 30px;
  position: absolute;
  right: 0px;
  bottom: 5px;
  color: rgb(75, 75, 75)
}

.far.fa-trash-alt {
  color: red($color: #c22b2b);
  }

.fas.fa-tags {
  color: red($color: #c22b2b);
}
