<!-- app/views/pages/home.html.erb -->
<%= content_for(:navbar_class, "navbar-home") %>
<div class="container">
  <div class="home-body">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="banner-content text-center">
            <h1>ember</h1>
            <h3>Remember the little things, while focusing on the big.</h3>
            <br>
            <p>Welcome to ember, our job is to help you collect and store small reminders of your journeys quickly and easily, so you can focus on the important things. </p>
            <%= link_to "Sign Up", new_user_session_path, class: "btn-home" %>
        </div>
      </div>
    </div>
  </div>
</div>
