<div class="container" style="text-align:center">
  <div class="position">
    <div class="form-layer">
      <h2>Add picture to journey</h2>
      <%= simple_form_for [@journey,@picture], remote: true do |f| %>
        <%= f.input :photo, as: :file, input_html: { accept: "image/*", capture: "camera" } %>
        <%= f.submit 'Save', class: 'btn-form'%>
      <% end %>
    </div>
  </div>
</div>
