.econtainer {
  margin: auto;
  background-color: rgba(20, 20, 20, 1);
}

.ebody {
  background: url(https://wallpapers.party/media/2018/06/colourful-pink-1.jpg);
  position: relative;
  background-repeat: none;
  background-size: 100%;
  min-height: calc(100vh - 69px);
}






