:root {
  --navbar-height: 60px;
}

.navbar-ember {
  justify-content: space-between;
  background-color: rgba(30, 30, 30, 1);
  height: var(--navbar-height);
  border-bottom-style: solid;
  border-bottom-width: 100%;
  border-bottom-style: 1px;
  border-bottom-color: #302f2f;
  // z-index: 100;

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  color: rgba(255, 255, 255, 1);
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-link {
  color: white !important;
}

ul {
  margin: auto;
  display: flex;
  justify-content: space-around;
  padding: 17px;
}

li {
  text-align: center;
  display: flex;
  justify-content: space-around;
  display: inline;
  color: rgba(100, 100, 100, 0.8);
}

li:hover {
  color: #ad1d63;
}

li:active {
  color: #ad1d63;
}

a {
  color: inherit;
}

a:active {
    color: #ad1d63;
}


.active {
  color: #ad1d63;
}

.dropdown-item {
  color: white;
}

.dropdown-item:hover {
  background-color: #ad1d63;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 80px;
}
