 <div class="col-6 card-borders">
    <div class="card">
      <div class="card-body">
        <img src="https://149359143.v2.pressablecdn.com/wp-content/uploads/2011/12/Aldaris.jpg" style="width:100%; margin: auto;" alt="">
      </div>
    </div>
  </div>
