<!-- Modal -->
<div class="modal fade" id="exampleModalCenter<%= item.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">

        <div type="button" class="item-close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </div>

      <div class="modal-body">
        <%= render partial: 'items/item', locals: { item: item } %>
      </div>
    </div>
  </div>
</div>
