<h2>Create a new journey</h2>

<%= simple_form_for @journey do |f| %>
  <div class="form-inputs">
    <%= f.input :title %>
  </div>
  <div class="form-actions">
    <%= f.button :submit, "Save journey", class: "btn btn-primary" %>
  </div>
<% end %>
