.loginform {
  border-radius: 15px;
  border-color: #ad1d63;
}

.btn-form {
  margin:auto;
  border-color: rgba(255, 255, 255, 0.0);
  border-radius: 100px 100px 100px 100px;
  width: 160px;
  height: 40px;
  color: rgba(120, 120, 120, 1);
  font-size: 16px;
  border-style: solid;
  background-color: rgba(173, 29, 99, 0.85);
  color: rgb(230, 230, 230);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: none;
}

.signup-form {
  border-color: rgba(30, 30, 30, 1);
  border-radius: 100px 100px 100px 100px;
  width: 160px;
  height: 40px;
  color: rgba(120, 120, 120, 1);
  font-size: 16px;
  border-style: solid;
  background-color: rgba(30, 30, 30, 0.9);
  color: rgb(230, 230, 230);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: none;
}

.form-actions {
  padding: none;
  margin: auto;
}

.center {
  display: flex;
  margin: auto;
  justify-content: center;
  // align-items: center;
}

.form-layer {
  background-color: rgba(30, 30, 30, 0.8);
  border-radius: 10px;
  padding: 10px;
  box-shadow: inset 0 0 10px #1e1e1e;
  box-shadow: inset 0 0 10px #1e1e1e;
  box-shadow: inset 0 0 10px #1e1e1e;
}


.text-align {
  text-align: center;
}

.login-center {
  margin: auto;
  color: rgba(255, 255, 255, 0.7);
}
